---
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Et medlemskab hos CA A-kasse giver mulighed for karriererådgivning under uddannelse, job og arbejdsløshed. Vores karriererådgivere står klar til at guide og dække dine behov. Bliv medlem af CA A-kasses og prøv vores karriererådgivning"
    />
    <title>CA Karriererådgivning</title>
  </head>

  <body>
    <Nav />
    <main>
      <img src="../../public/img/gulcirkel.png" alt="gul cirkel" class="gul1" />
      <img src="../../public/img/gulcirkel.png" alt="gul cirkel" class="gul2" />
      <img src="../../public/img/gulcirkel.png" alt="gul cirkel" class="gul3" />
      <Main />
    </main>
  </body>
</html>

<style>
  body {
    background-color: #e6e6dd;
    margin: 0;
    padding: 0;
  }
  main {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 300px;
  }
  .gul1 {
    position: absolute;
    width: 120%;
    height: auto;
    z-index: 1;
    top: 0px;
    left: -180px;
  }
  .gul2 {
    position: absolute;
    width: 180%;
    height: auto;
    z-index: -1;
    top: 1250px;
    left: -30px;
  }
  .gul3 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 3240px;
    left: -60px;
  }

  @media (min-width: 800px) {
    body {
      background-color: #e6e6dd;
      margin: 0;
      padding: 0;
    }
    main {
      max-width: 100%;
      position: relative;
      overflow: hidden;
      padding-bottom: 180px;
    }
    .gul1 {
      width: 40%;
      z-index: -1;
      top: 120px;
      left: -100px;
    }
    .gul2 {
      width: 90%;
      z-index: -1;
      top: 400px;
      left: 440px;
    }
    .gul3 {
      width: 70%;
      z-index: -1;
      top: 1600px;
      left: 300px;
    }
  }
</style>
