<section class="container">
  <div class="content">
    <h2>lorem ipsum</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
      aliquam laborum sequi exercitationem deleniti ex illo eveniet modi
      doloremque? Necessitatibus, ab nam. Harum veniam accusantium placeat
      suscipit! Ullam, ad nemo.
    </p>
  </div><div class="image">
    <img src="../../public/img/test.webp" alt="teste" />
  </div>
</section>

<section class="container2">
  <div class="image2">
    <img src="../../public/img/test.webp" alt="teste" />
  </div>
  <div class="image2">
    <img src="../../public/img/test.webp" alt="teste" />
  </div>
</section>

<section class="container">
  <div class="content">
    <h2>lorem ipsum</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
      aliquam laborum sequi exercitationem deleniti ex illo eveniet modi
      doloremque? Necessitatibus, ab nam. Harum veniam accusantium placeat
      suscipit! Ullam, ad nemo.
    </p>
  </div><div class="image">
    <img src="../../public/img/test.webp" alt="teste" />
  </div>
</section>

<style>
  .container,
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10cqw;
    margin-right: 10cqw;
  }
  .container2 {
    background-color: rgb(255, 255, 255);
  }
  .container {
    background-color: aliceblue;
  }
  .content {
    margin: 20px;
    align-content: center;
  }
  .image,
  .image2 {
    display: grid;
    place-items: center;
    margin: 20px;
  }
  .image img {
    width: 50%;
  }
  .image2 img {
    width: 100%;
  }
  img {
    width: 40%;
    height: auto;
  }
</style>
