<header>
  <a
    href="https://www.ca.dk/?gad_source=1&gclid=CjwKCAjw7oeqBhBwEiwALyHLM39ljc9Ecui-h313RA1JcfKm75bOQ6nrq9hTRcVPypV8Xe5V46jW0RoC49oQAvD_BwE"
    target="_blank"><img src="../../public/img/logo.svg" alt="hjemmeside" /></a
  >
</header>
<nav>
  <ul>
    <li>
      <a href="https://www.linkedin.com/company/caakasse" target="_blank"
        ><img src="../../public/img/linked.svg" alt="linkedin" /></a
      >
    </li>
    <li>
      <a href="https://www.facebook.com/caakasse" target="_blank"
        ><img src="../../public/img/face.svg" alt="facebook" /></a
      >
    </li>
    <li>
      <a href="https://www.instagram.com/caakasse/" target="_blank"
        ><img src="../../public/img/insta.svg" alt="instagram" /></a
      >
    </li>
  </ul>
</nav>

<style>
  @media (min-width: 800px) {
    header img {
      max-width: 28%;
      padding: 20px;
    }
    nav {
      height: 100%;
      width: 90px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      overflow-x: hidden;
      padding-top: 10%;
    }
    nav img {
      width: 100%;
      height: auto;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    ul {
      list-style-type: none;
    }
    img {
      width: 100%;
      height: auto;
    }
    nav img:hover {
      transform: translateX(6px);
    }
  }
</style>
