<header>
  <div class="image-container">
    <a href="https://www.ca.dk/udvikling/karriereradgivere/" target="_blank"
      ><img class="desktopimg" src="/img/logo.svg" alt="desktopimg" /></a
    >
    <a href="https://www.ca.dk/udvikling/karriereradgivere/" target="_blank"
      ><img class="mobileimg" src="/img/lillelogo.svg" alt="mobileimg" /></a
    >
  </div>
  <div class="mobil_nav">
    <ul>
      <li class="li_in">
        <a href="https://www.linkedin.com/company/caakasse" target="_blank"
          ><img src="/img/linked.svg" alt="linkedin" /></a
        >
        <!--LinkedIn icon by icons8-->
      </li>
      <li>
        <a href="https://www.facebook.com/caakasse" target="_blank"
          ><img src="/img/face.svg" alt="facebook" /></a
        >
        <!--Facebook icon by icons8-->
      </li>
      <li>
        <a href="https://www.instagram.com/caakasse/" target="_blank"
          ><img src="/img/insta.svg" alt="instagram" /></a
        >
        <!--Instagram icon by icons8-->
      </li>
    </ul>
  </div>
</header>
<nav>
  <ul>
    <li>
      <a href="https://www.linkedin.com/company/caakasse" target="_blank"
        ><img src="/img/linked.svg" alt="linkedin" /></a
      >
      <!--LinkedIn icon by icons8-->
    </li>
    <li>
      <a href="https://www.facebook.com/caakasse" target="_blank"
        ><img src="/img/face.svg" alt="facebook" /></a
      >
      <!--Facebook icon by icons8-->
    </li>
    <li>
      <a href="https://www.instagram.com/caakasse/" target="_blank"
        ><img src="/img/insta.svg" alt="instagram" /></a
      >
      <!--Instagram icon by icons8-->
    </li>
  </ul>
</nav>

<style>
  @media (max-width: 800px) {
    header img {
      background-image: url(/img/lillelogo.svg);
    }
    .mobil_nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 180px;
      margin: 0;
    }
    nav {
      display: none;
    }
    .desktopimg {
      display: none;
    }
    .mobileimg {
      display: block;
    }
    .li_in a img {
      border-bottom-left-radius: 10px;
    }
    ul {
      display: flex;
      list-style-type: none;
      margin-top: -60px;
      padding: 0;
    }
    li a img {
      width: 100%;
      margin: 0;
    }
    nav img {
      width: 60%;
      border-radius: 10px;
      margin: 0;
    }
  }
  @media (min-width: 800px) {
    .desktopimg {
      display: block;
    }
    .mobileimg {
      display: none;
    }
    header img {
      max-width: 28%;
      padding: 20px;
    }
    .mobil_nav {
      display: none;
    }
    nav {
      display: block;
      height: 100%;
      width: 90px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      overflow-x: hidden;
      padding-top: 10%;
    }
    nav img {
      width: 100%;
      height: auto;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    ul {
      list-style-type: none;
    }
    img {
      width: 100%;
      height: auto;
    }
    nav img:hover {
      transform: translateX(6px);
    }
  }
</style>
