<header>
  <a
    href="https://www.ca.dk/?gad_source=1&gclid=CjwKCAjw7oeqBhBwEiwALyHLM39ljc9Ecui-h313RA1JcfKm75bOQ6nrq9hTRcVPypV8Xe5V46jW0RoC49oQAvD_BwE"
    target="_blank"><img src="../../public/img/test.webp" alt="hjemmeside" /></a
  >
</header>
<nav>
  <ul>
    <li>
      <a href="https://www.linkedin.com/company/caakasse" target="_blank"
        ><img src="../../public/img/test.webp" alt="linkedin" /></a
      >
    </li>
    <li>
      <a href="https://www.facebook.com/caakasse" target="_blank"
        ><img src="../../public/img/test.webp" alt="facebook" /></a
      >
    </li>
    <li>
      <a href="https://www.instagram.com/caakasse/" target="_blank"
        ><img src="../../public/img/test.webp" alt="instagram" /></a
      >
    </li>
  </ul>
</nav>

<style>
  @media (min-width: 800px) {
    header img {
      max-width: 8%;
      padding: 2cqw;
    }
    nav {
      height: 100%;
      width: 90px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      overflow-x: hidden;
      padding-top: 10%;
    }
    nav img {
      width: 100%;
      height: auto;
      padding-top: 4px;
    }
    ul {
      list-style-type: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
</style>
